<%- include('partial/header') %>

  <div class="mainContainer">
    <button class="rightArrow"><i class="ri-arrow-right-s-line"></i></button>
    <div class="leftNav">
      <button class="times"><i class="ri-close-line"></i></button>
      <div class="userimgprofile">

        <img
          src="<%= user.profileImage ? user.profileImage : 'https://static.vecteezy.com/system/resources/previews/024/766/958/non_2x/default-male-avatar-profile-icon-social-media-user-free-vector.jpg' %>"
          alt="" />
      </div>


      <p class="userText" style="color: #fff">Welcome <%= user.username %>
      </p>

      <p class="follwersuser text-white mt-2 text-sm">100K Followers</p>

      <a class="updatePostSet" href="/profile">
        <i class="ri-home-2-line"></i>Home</a>

      <a class="updatePostSet" href="/updatePost">
        <i class="ri-upload-cloud-2-line"></i> Upload Picture</a>

      <!-- <a class="updatePostSet" href="/updateReel">
      <i class="ri-upload-cloud-2-line"></i> Upload Reel</a> -->

      <a class="updatePostSet" href="/myPosts"><i class="ri-image-2-fill"></i> My Stuff</a>

      <a class="updatePostSet" href="/reels"><i class="ri-video-line"></i> Reels</a>
      <a class="updatePostSet" href="/myprofile"><i class="ri-user-line"></i> My Profile</a>

      <a class="updatePostSet" href=""><i class="ri-star-line"></i> My Fev</a>
      <a class="updatePostSet" href=""><i class="ri-notification-3-fill"></i>Notifation</a>

      <a class="updatePostSet" href="">
        <i class="ri-history-line"></i> Recent Posts</a>
      <a class="updatePostSet" href="">
        <i class="ri-share-fill"></i> Share Profile</a>
      <a class="updatePostSet opacity-50" href="/profile" aria-disabled="true">
        <i class="ri-money-dollar-circle-line" aria-disabled="true"></i> Payment</a>
      <a class="updatePostSet" href="/setting">
        <i class="ri-settings-2-line"></i>Settings</a>

      <a class="logoutSet" a href="/logout"><i class="ri-logout-box-line"></i> Logout</a>
    </div>
    <div class="img_Dashboard">
      <div class="imgTag">
        <!-- <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Nature</div>
          <div class="swiper-slide">Car</div>
          <div class="swiper-slide">Bike</div>
          <div class="swiper-slide">Home</div>
          <div class="swiper-slide">Sparrow</div>
          <div class="swiper-slide">Technology</div>
          <div class="swiper-slide">Birds</div>
          <div class="swiper-slide">Flowers</div>
          <div class="swiper-slide">Dog</div>
        </div>
      </div> -->
      </div>

      <div class="createPost">
        <form action="/createPost" method="post" enctype="multipart/form-data">
          <h2>Create New Post Picture or Video</h2>
          <div class="postImgCircle">
            <div class="postStateImg">
              <img src="assets/logo.png" alt="" />
            </div>

            <button class="uploadPostPic"><i class="ri-pencil-fill"></i></button>
          </div>

          <input id="postImage" type="file" name="postImage" accept="image/*" />
          <input type="text" placeholder="title" name="title" autocomplete="off" />
          <input type="text" placeholder="Description" name="description" autocomplete="off" />

          <button class="upPost">Upload Post</button>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });

    let times = document.querySelector('.times');
    let leftNav = document.querySelector('.leftNav');
    let rightArrow = document.querySelector('.rightArrow');
    times.addEventListener('click', function () {
      leftNav.style.width = "0px"
    })

    rightArrow.addEventListener('click', function () {
      leftNav.style.width = "250px"
    })

    leftNav.addEventListener('blur', function (e) {
      leftNav.style.width = "0px"
    })
    let imgPost = document.querySelector("#postImage");
    let postImgCircle = document.querySelector(".postImgCircle img");

    imgPost.addEventListener("change", function () {
      let imgFile = imgPost.files[0];
      postImgCircle.src = URL.createObjectURL(imgFile);
    });

    let uploadPostPic = document.querySelector('.uploadPostPic');
    uploadPostPic.addEventListener('click', function () {
      imgPost.click();
    })
  </script>

  <%- include('partial/footer') %>